.container {
    @media (max-width: 480px) {
        width: 100%;
    }
    @media (min-width: 481px) {
        width: 70%;
    }
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 45px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.3);
}

body {
    font-size: 1.25em;
    background-color: seashell;
}

a, .nav-link {
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 5px;
    text-align: center;
}